// 表格上间距
.el-table {
  margin-top: 20px;
}
// 分页居中
.el-pagination {
  margin: 20px 0;
  text-align: center;
}
//改变elementui dialog对话框 圆角
.el-dialog {
  border-radius: 12px;
}
//要求一行显示，且增加间距
._inline {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  .el-select:first-child {
    margin: 3px 0px;
  }
  .el-input:first-child {
    margin: 3px 0px;
    width: 280px;
  }
  p:first-child {
    margin: 3px 0px;
  }
  .el-button:first-child {
    margin: 3px 0px;
  }
  p:not(:first-child) {
    margin: 3px 0 0px 10px;
  }
  .el-select:not(:first-child) {
    margin: 3px 0 0px 10px;
  }
  .el-input:not(:first-child) {
    margin: 3px 0 0 10px;
    width: auto;
  }
  .el-button:not(:first-child) {
    margin: 3px 0 0 15px;
  }
}
// 页面底部居中
.footer {
  display: flex;
  justify-content: center;
  .el-button:nth-child(n) {
    margin: 30px;
  }
}
